<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<TITLE>Greenify API Website</TITLE>
		<link href='/stylesheets/style.css' rel='stylesheet'>
	</HEAD>
 
	<BODY>
		  <table>
			<tr>
			  <td>
				<h1>Hi there!</h1>
				<p class='description'></p>
				You've managed to find the url for our API. There's really nothing to do here. Check out our app though!
			  </td>
			</tr>
		  </table>
	</BODY>
</HTML>
